@page
@model CoreCrud.Pages.Collectibles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Collectible</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Collectible.ID" />
            <div class="form-group">
                <label asp-for="Collectible.Name" class="control-label"></label>
                <input asp-for="Collectible.Name" class="form-control" />
                <span asp-validation-for="Collectible.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collectible.CreationDate" class="control-label"></label>
                <input asp-for="Collectible.CreationDate" class="form-control" />
                <span asp-validation-for="Collectible.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collectible.Weight" class="control-label"></label>
                <input asp-for="Collectible.Weight" class="form-control" />
                <span asp-validation-for="Collectible.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Collectible.Electronic" /> @Html.DisplayNameFor(model => model.Collectible.Electronic)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Collectible.Material" class="control-label"></label>
                <input asp-for="Collectible.Material" class="form-control" />
                <span asp-validation-for="Collectible.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collectible.ManufacturerID" class="control-label"></label>
                <select asp-for="Collectible.ManufacturerID" class="form-control" asp-items="ViewBag.ManufacturerID"></select>
                <span asp-validation-for="Collectible.ManufacturerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
