@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    University Dr<br />
    Cincinnati, OH 45219<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:TomsToy@example.com">TomsToy@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:TomsToyMarketing@example.com">TomsToyMarketing@example.com</a>
</address>