@{
    ViewBag.Title = "Home Page";
}

<h1>Tom's Toys</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Little_horse_on_wheels_%28Ancient_greek_child%27s_Toy%29.jpg" alt="toy" height="400" width="400">
<div>
    <p>
        Welcome to Tom's Toys website. We have a list of different collectibles. <br> Each collectible will have different attributes.
        <br> Every collectible will have one Manufacturer but a Manufacturer will have multiple collectibles.

    </p>
</div>