@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">P & E</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-page="/Home">Home</a></li>
                <li><a asp-page="/About">About</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
                <li><a asp-page="/Admin">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Main Street<br />
    Cincinnati, OH 45220<br />
    <abbr title="Phone">P:</abbr>
    419-123-4567
</address>
